@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .patrimoine_casablanca {
    font-family: 'Fasthand', cursive;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer base {  
  .buttons {
    @apply
      py-1 
      px-6 
      shadow-md 
      no-underline 
      rounded-full 
    bg-blue-500 
    text-white 
      font-sans 
      font-semibold 
      text-sm 
    border-blue-500  
    hover:text-white 
    hover:bg-blue-300 
      focus:outline-none 
      active:shadow-none 
      mr-2
  }

  .buttons_open_menu {
    @apply 
      relative
      py-4
      shadow-md 
      no-underline 
      bg-blue-500 
      text-white 
      font-sans 
      font-semibold 
      text-sm 
      border-blue-800 
      hover:text-white 
      hover:bg-blue-600 
      hover:scale-105 
      hover:shadow-xl
      focus:outline-none 
      active:shadow-none
  }

  
}