@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .patrimoine_casablanca {
    font-family: 'Fasthand', cursive;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.patrimoine_casablanca {
  translate: false;
}